.outlineSearch {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  display: none;
}
.label {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
  min-width: 227px;
  padding: 0;
  max-width: 100%;
}
.outlineClose {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.input {
  align-self: stretch;
  height: 34px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--miscellaneous-button-bezeled-fill);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-smi) var(--padding-10xs)
    var(--padding-base);
  gap: var(--gap-5xs);
  max-width: 100%;
}
