@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-manrope: Manrope;
  --font-archivo: Archivo;
  --font-lexend: Lexend;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-12xl: 31px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-33xl: 52px;
  --font-size-23xl: 42px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-49xl: 68px;
  --font-size-35xl: 54px;
  --font-size-22xl: 41px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-teal: #33727d;
  --white: #fff;
  --color-thistle: #fed7fd;
  --color-whitesmoke-100: #f8f9fa;
  --color-whitesmoke-200: #f6f6f6;
  --color-whitesmoke-300: #f3f4f6;
  --color-whitesmoke-400: #f0f1f3;
  --color-whitesmoke-500: #f1f1f1;
  --color-whitesmoke-600: #eff0f2;
  --color-whitesmoke-700: #f0f0f0;
  --color-whitesmoke-800: #edeced;
  --color-whitesmoke-900: #eaecf0;
  --color-gray-100: #fefefe;
  --color-gray-200: #fafafb;
  --color-gray-300: #939191;
  --color-gray-400: #171a1f;
  --gray-900: #101828;
  --color-gray-500: rgba(255, 255, 255, 0.8);
  --color-gray-600: rgba(0, 0, 0, 0);
  --color-gray-700: rgba(255, 255, 255, 0.12);
  --color-gray-800: rgba(255, 255, 255, 0.2);
  --dark: #404d61;
  --color-darkslategray-100: #424856;
  --color-darkslategray-200: #3d3e42;
  --color-darkslategray-300: #323743;
  --color-darkslategray-400: #183c56;
  --color-darkslategray-500: #323439;
  --color-darkslategray-600: #303238;
  --color-darkslategray-700: #2f2f31;
  --color-darkslategray-800: #2e2f32;
  --color-slategray-100: #757d8a;
  --color-slategray-200: #6f7787;
  --gray-500: #667085;
  --color-mediumaquamarine-100: #4ca483;
  --color-mediumaquamarine-200: rgba(39, 194, 148, 0.63);
  --color-gainsboro-100: #e7e8e9;
  --color-gainsboro-200: #dee1e6;
  --color-gainsboro-300: #d9d9e3;
  --color-silver-100: #c3c3c3;
  --color-silver-200: #bdc1ca;
  --color-darkcyan: #44968a;
  --color-lightseagreen: #5eb0a3;
  --color-dimgray-100: #5d5d60;
  --color-dimgray-200: #565d6d;
  --color-dimgray-300: #4f5152;
  --color-dimgray-400: #505050;
  --color-darkgray: #b1afaf;
  --color-lightslategray: #9095a1;
  --color-royalblue-100: #636ae8;
  --miscellaneous-button-bezeled-fill: rgba(0, 122, 255, 0.15);
  --color-palevioletred-100: #e8618c;
  --color-palevioletred-200: #cf4773;
  --color-lightsteelblue-100: #ced0f8;
  --color-lightsteelblue-200: #a2aebf;
  --color-black: #000;
  --color-turquoise: #22ccb2;
  --color-darksalmon: #ea916e;
  --color-lavenderblush: #fdf1f5;
  --color-ghostwhite-100: #f6f7fb;
  --color-ghostwhite-200: #f2f2fd;
  --color-mistyrose: #f8dbd0;
  --color-paleturquoise: #baf3eb;
  --color-pink: #f8cedb;
  --color-seagreen: #338a69;
  --color-mediumseagreen: #54b280;
  --color-darkslateblue: #20355b;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-9xl: 28px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-2xl: 21px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-xs: 12px;
  --gap-12xs: 1px;
  --gap-5xs: 8px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-7xs: 6px;
  --gap-10xs: 3px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-22xl: 41px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-3xs: 10px;
  --gap-53xl: 72px;
  --gap-12xl: 31px;
  --gap-smi: 13px;
  --gap-sm: 14px;
  --gap-54xl: 73px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;
  --gap-111xl: 130px;
  --gap-38xl-2: 57.2px;
  --gap-10xl: 29px;
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-28xl-2: 47.2px;
  --gap-80xl: 99px;
  --gap-30xl: 49px;
  --gap-7xs-8: 5.8px;
  --gap-11xs: 2px;
  --gap-132xl: 151px;
  --gap-mini: 15px;
  --gap-49xl: 68px;
  --gap-18xl: 37px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-572xl: 591px;
  --padding-276xl: 295px;
  --padding-xl: 20px;
  --padding-128xl: 147px;
  --padding-6xs: 7px;
  --padding-10xl: 29px;
  --padding-7xs: 6px;
  --padding-21xl: 40px;
  --padding-94xl: 113px;
  --padding-28xl: 47px;
  --padding-7xl: 26px;
  --padding-54xl: 73px;
  --padding-2xs: 11px;
  --padding-109xl: 128px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-lgi: 19px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-10xs-5: 2.5px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-44xl: 63px;
  --padding-45xl: 64px;
  --padding-33xl: 52px;
  --padding-47xl: 66px;
  --padding-46xl: 65px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-78xl: 97px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-8xl: 27px;
  --padding-9xl: 28px;
  --padding-11xs: 2px;
  --padding-77xl: 96px;
  --padding-116xl: 135px;
  --padding-25xl: 44px;
  --padding-110xl: 129px;
  --padding-48xl: 67px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-16xl: 35px;
  --padding-11xl: 30px;
  --padding-23xl: 42px;
  --padding-497xl: 516px;
  --padding-239xl: 258px;
  --padding-27xl: 46px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-442xl: 461px;
  --padding-443xl: 462px;
  --padding-212xl: 231px;
  --padding-211xl: 230px;
  --padding-96xl: 115px;
  --padding-81xl: 100px;
  --padding-12xl: 31px;
  --padding-50xl: 69px;
  --padding-113xl: 132px;
  --padding-43xl: 62px;
  --padding-39xl: 58px;
  --padding-4xl: 23px;
  --padding-22xl: 41px;
  --padding-2xl: 21px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-278xl: 297px;
  --padding-277xl: 296px;
  --padding-129xl: 148px;
  --padding-55xl: 74px;
  --padding-114xl: 133px;
  --padding-18xl: 37px;
  --padding-49xl: 68px;
  --padding-14xl: 33px;
  --padding-20xl: 39px;
  --padding-31xl: 50px;
  --padding-102xl: 121px;
  --padding-52xl: 71px;
  --padding-169xl: 188px;
  --padding-103xl: 122px;
  --padding-88xl: 107px;
  --padding-mid: 17px;
  --padding-38xl: 57px;
  --padding-32xl: 51px;
  --padding-smi-5: 12.5px;
  --padding-24xl: 43px;
  --padding-124xl: 143px;
  --padding-201xl: 220px;
  --padding-74xl: 93px;
  --padding-146xl: 165px;

  /* Border radiuses */
  --br-53xl: 72px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-10xs: 3px;
  --br-7xs: 6px;
  --br-11xl: 30px;
  --br-3xl: 22px;
  --br-sm: 14px;
  --br-xs: 12px;
  --br-xl: 20px;
  --br-7xl: 26px;
  --br-134xl: 153px;
  --br-13xl: 32px;
  --br-47xl: 66px;
  --br-lg: 18px;
  --br-25xl: 44px;
  --br-3xs: 10px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
